﻿@{ 
    int? test  = ViewBag.log;
    string title = ViewBag.Title;
}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>@title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/xcharts.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/d3.js"></script>
    <script src="~/Scripts/xcharts.js"></script>
</head>
<body style='padding-top: 70px;'>
    <nav class='navbar navbar-default navbar-fixed-top'>
        <div class='container'>
            <div class='navbar-header'>
                <button aria-controls='navbar' aria-expanded='false' class='navbar-toggle collapsed' data-target='#navbar' data-toggle='collapse' type='button'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' href='~/Home/index'>Que</a>
            </div>
            <div class='navbar-collapse collapse' id='navbar'>
            @if (Request.IsAuthenticated)
            {
                <ul class='nav navbar-nav'>
                    <li>
                        <a href='~/Home/UserRoom'>Результати</a>
                    </li>
                    <li>
                        <a href='~/Test/SelectTest'>Тести</a>
                    </li>
                </ul>
                <ul class='nav navbar-nav navbar-right'>
                    <li>
                        <a><label for="logout">Log out</label></a>
                    </li>
                </ul>
                <form action="~/Security/Logout" method="post">
                    <input type="submit" id="logout" style="display: none" />
                </form>

            }
            else
            {
                <ul class='nav navbar-nav navbar-right'>
                    <li>
                        <a href='~/Security/Login'>Log in</a>
                    </li>
                    <li>
                        <a href='~/Security/Register'>Register</a>
                    </li>
                </ul>
            }
            </div>
        </div>
    </nav>
    @RenderBody()
</body>
</html>
