﻿@{
    ViewBag.Title = "Login";
}
@model Que.WebUI.Models.SecurityModel
<div class='container'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <form class='form-horizontal' role='form' method="post">
                        <div class='form-group'>
                            <label class='col-sm-2 control-label' for='inputEmail'>Email</label>
                            <div class='col-sm-10'>
                                @Html.TextBoxFor(m => m.Login, new {@class = "form-control", @placeholder = "Email", @required = ""})
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='col-sm-2 control-label' for='inputPassword'>Password</label>
                            <div class='col-sm-10'>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @required = ""})
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='col-sm-offset-2 col-sm-10'>
                                <button class='btn btn-default' type='submit'>Log in</button>
                                <a href="~/Security/Register" class="btn btn-primary" role="button">Register</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

