﻿@{
    ViewBag.Title = "Register";
}
<div class='container'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <form class='form-horizontal' role='form' method="post">
                        <div class='form-group'>
                            <label class='col-sm-2 control-label' for='firstName'>Ім'я</label>
                            <div class='col-sm-10'>
                                <input class='form-control' name="firstName" id='firstName' placeholder="Ім'я" type='text' required>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='col-sm-2 control-label' for='lastName'>Призвіще</label>
                            <div class='col-sm-10'>
                                <input class='form-control' name="lastName" id='lastName' placeholder='Призвіще' type='text' required>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='col-sm-2 control-label' for='email'>Email</label>
                            <div class='col-sm-10'>
                                <input class='form-control' name="email" id='email' placeholder='Email' type='email' required>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='col-sm-2 control-label' for='password'>Пароль</label>
                            <div class='col-sm-10'>
                                <input class='form-control' name="password" id='password' placeholder='Пароль' type='password' required>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='col-sm-offset-2 col-sm-10'>
                                <button class='btn btn-default' type='submit'>Реєстрація</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

