﻿@{
    ViewBag.Title = "Home";

}
<div class='container'>
    <div class='jumbotron'>
        <h1>Проект Que</h1>
        <p>Створений для того щоб аналізувати і покращити навики програмістів в певних технологіях.</p>
        <p>
            <a class='btn btn-lg btn-primary' href='~/Test/SelectTest'>Перейти до тестів</a>
        </p>
    </div>
</div>


