﻿@using Que.WebUI.Models
@model Que.WebUI.Models.UserRoomModel
@{
    ViewBag.Title = "UserRoom";
    var testTitles = new List<string>();
    foreach(var res in Model.UserResults.Select(item => item.TestName).Distinct())
    {
        testTitles.Add(res);
    }
}
<div class='container col-lg-6 col-lg-offset-3'>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Привіт @Model.UserData.FirstName</h3>
                @if (Model.UserResults.Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Test name</th>
                                <th>Test result</th>
                                <th>Date test</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var res in Model.UserResults.OrderByDescending(item => item.DateOfResult))
                            {
                                <tr>
                                    <td>@res.TestName</td>
                                    <td>@res.TestResult</td>
                                    <td>@res.DateOfResult.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*<div class="col-lg-12">
                        <ul class="nav nav-tabs" role="tablist">
                            @foreach (var res in Model.UserResults.Select(item => item.TestName).Distinct())
                            {

                                <li><a href="#@Model.UserResults.First(item => item.TestName == res).IdTest" data-toggle="tab">@res</a></li>
                            }
                        </ul>
                        <div class="tab-content">
                            @foreach (var testName in Model.UserResults.Select(item => item.TestName).Distinct())
                            {
                                <div class="tab-pane" id="@Model.UserResults.First(item => item.TestName == testName).IdTest">
                                    <figure style="width: 400px; height: 300px;" id="example2"></figure>
                                </div>
                            }
                        </div>
                    </div>*@
                }
                else
                {
                    <div class="col-lg-12">
                        <h3>Нажаль ви ще не пройшли жодного тесту </h3>
                    </div>
                }
            </div>
        </div>
            @*<script type="text/javascript">
                $(document).ready(function () {
                    $(".nav-tabs a").click(function () {
                        $(this).tab('show');
                    });
                    var opts = {
                        "dataFormatX": function (x) { return d3.time.format('%Y-%m-%d-%H-%M').parse(x); },
                        "tickFormatX": function (x) { return d3.time.format('%H-%M')(x); },
                    };
                    var data = {
                        "xScale": "time",
                        "yScale": "linear",
                        "type": "line",
                        "main": [{
                            "className": ".pizza",
                            "data": [
                            @{ UserResults last = Model.UserResults.Last(); }
                            @foreach (var item in Model.UserResults)
                            {
                                @:{"x": "@item.DateOfResult.ToString("yyyy-MM-dd-HH-mm")", "y": @item.TestResult}@(last != item ? "," : "")
                            }
                            ]
                        }]};
                    var myChart = new xChart('line', data, '#example2', opts);
                    var setChart = function(){

                    };
                });
            </script>*@
        </div>
    </div>
</div>



