﻿@using Que.Entities
@{
    List<TestEntity> tests = ViewBag.test;
    ViewBag.Title = "Select Test";
}
<div class='container col-lg-6 col-lg-offset-3'>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Choose test</div>
            <div class="panel-body">
                <form method="post" action="/Test/SelectTest">
                    @for (int i = 0; i < tests.Count; i++)
                    {
                        <div class='radio'>
                            <label>
                                <input name='idTest' type='radio' value="@tests[i].Id">@tests[i].Title
                            </label>
                        </div>
                    }
                    <input type="submit" id="submite-button" style="display: none">
                </form>
            </div>
            <div class="panel-footer">
                <label for="submite-button" class="btn btn-primary">Submite</label>
            </div>
        </div>
    </div>
</div>
