﻿@model int
<div class='panel-heading'>Ви завершити тест і ваша оцінка <span class="label label-success">@Model<span></div>
<div class='panel-body'>
    <p>Перейдіть до кімнати користувача для порівняння результатів </p><a href='~/Home/UserRoom' class="btn btn-primary" role="button">Прейти</a>
</div>

