﻿@using Que.Entities
@{
    TestEntity test = ViewBag.test;
    ViewBag.Title = "Login";
}
<div class='container'>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
            <div class='panel panel-default'>
                <div class='panel-heading'>@test.Title <input type="hidden" value="@test.Id" name="testId"/></div>
                <div class='panel-body'>
                @foreach (var q in test.Questions)
                {
                    <p>@q.Title</p>
                    foreach (var o in q.Options)
                    {
                        <div class='radio'>
                            <label>
                                <input  name='@o.IdQuestion' optionId="@o.Id" type='radio'/>@o.Title
                            </label>
                        </div>
                    }
                }
                </div>
                <div class="panel-footer">
                    <button name="submite-result" class="btn btn-primary">Submite</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="testtest"></div>
<script src="~/Scripts/pages/Testing.js"></script>


